<div class="w-full p-5 shadow-md rounded-lg">
  <%= form_with model: task do |f| %>
    <div class="flex flex-row items-center justify-center">
      <%= f.text_area :details, placeholder: "Add task details...", class: "outline-none border-2 border-blue-400 p-2 rounded w-full m-0" %>
      <div class="flex flex-row gap-2 ml-3">
        <%= f.submit "Update task", class: "outline-none border-0 p-2 bg-green-500 text-white rounded" %>
        <%= link_to "Cancel", task_path(task), class: "p-2 bg-gray-500 text-white rounded inline-block" %>
      </div>
    </div>
  <% end %>
</div>